@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;

  font-weight: bold;
}

.header {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);

  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 250px;
  padding: 5px 10%;
}

.header .logo {
  cursor: pointer;
  margin-right: auto;
}

.header .logo img {
  padding-top: 10px;
  height: 200px;
  width: auto;
  transition: all 0.3s;
  border-radius: 20px 20px 20px 20px;
}

.header .logo img:hover {
  transform: scale(1.2);
}

.header .nav-links {
  list-style: none;
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  border-radius: 50px;
  padding: 30px;
}

.header .nav-links li {
  text-shadow: 2px 2px 4px #000000, 4px 4px 4px #111, 6px 6px 4px #222;
  display: inline-block;
  padding: 0 20px;
}

.header .nav-links li:hover,
/**/.overlay a:hover {
  transform: scale(1.1);
}

.header .nav-links a {
  font-size: 30px;
  color: #eceff1;
  transition: all 0.3s ease 0s;
}

.header .nav-links a:hover {
  color: #ffffff;
  transition: all 0.3s ease 0s;
  background-color: #72ca06;
  padding: 20px;
  border-radius: 50px;
}

/**/
.menu {
  display: none;
}

.header .btn button,
/**/.header .menu button {
  margin-left: 20px;
  font-weight: 700px;
  color: #ffffff;
  padding: 9px 25px;
  background: #71e307;
  border: none;
  border-radius: 70px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-size: 22px;
}

.header .btn button:hover,
/**/.header .menu button:hover {
  background-color: #e2f1f8;
  color: #ffbc0e;
  transform: scale(1.1);
}

/**/
@media screen and (max-width: 800px) {
  .nav-links,
  .btn {
    display: none;
  }
  .menu {
    display: inherit;
  }
}

/*Nav Mobile*/

.header a {
  text-decoration: none;
  /*borramos el que teniamos en .header .nav-links a*/
}

.header .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(33, 49, 63, 0.95);
  overflow: hidden;
  transition: all 0.3s ease 0s;
}

.header .overlay .overlay-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header .overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
  font-weight: 700;
  color: #eceff1;
}

.header .overlay a:hover,
.header .overlay a:focus {
  color: #ffbc0e;
}

.header .overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 65px;
}

@media screen and (max-height: 450px) {
  .header .overlay a {
    font-size: 20px;
  }
  .header .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/*EFECTO PARALLAX*/
main {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

section {
  transform-style: preserve-3d;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

section h1 {
  text-align: center;
  font-size: 4rem;
  font-family: sans-serif;
  padding-bottom: 10%;
}

body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

#particles-js {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.parallax {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  color: #fff;
  text-shadow: 2px 2px 4px #000000, 4px 4px 4px #111, 6px 6px 4px #222;
}

.parallax h1 {
  font-family: "Staatliches", cursive;
  font-size: 4rem;
  text-align: center;
}

.bg {
  position: relative;
  background: #c21500;
  background: -webkit-linear-gradient(to right, #ffc500, #c21500);
  background: linear-gradient(to right, #ffc500, #c21500);
  z-index: -1;
  overflow: hidden;
}

.bg::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../images/parallax.jpg");
  background-size: cover;
  z-index: -1;
}

/*PARTICULAS*/

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../images/parallax.jpg");
  background-size: cover;
  z-index: -1;
}

/* ---- stats.js ---- */

.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: url("../images/services.jpg") center center no-repeat;
  color: #fff;
  font-size: 20px;
  position: relative;
  background-size: cover;
}

#footer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(26, 46, 64, 0.85);
  z-index: 1;
}

#footer .footer-top {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 80px 0;
}

#footer .footer-top h3 {
  font-family: "Staatliches", cursive;
  font-size: 60px;
  text-align: center;
  color: #fff;
  position: relative;
  padding-bottom: 0;
  margin-bottom: 0;
  text-shadow: 2px 2px 4px #000000, 4px 4px 4px #111, 6px 6px 4px #222;
}

#footer .footer-top p {
  font-family: "Staatliches", cursive;
  font-size: 40px;
  text-align: center;
  font-style: italic;
  padding: 0;
  text-shadow: 2px 2px 4px #000000, 4px 4px 4px #111, 6px 6px 4px #222;
}

#footer .footer-bottom {
  border-top: 1px solid #1a2e40;
  z-index: 2;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

#footer .copyright {
  text-align: center;
}

@media (max-width: 768px) {
  #footer .copyright,
  #footer .credits {
    padding: 5px;
    float: none;
    text-align: ceneter;
  }

  #header .logo {
    display: block;
    margin: auto;
    max-height: 150px;
  }
  #header .logo img {
    max-height: 140px;
  }
}

.color_footer {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  border: 1px solid #000000;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  padding: 10px;
}

.remove-bg {
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

.logo-ucse {
  width: 150px;
}

@media only screen and (max-width: 767px) {
  /* Estilos aplicados para pantallas con un ancho máximo de 767px */

  .parallax {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    overflow: hidden;
    color: #fff;
    text-shadow: 2px 2px 4px #000000, 4px 4px 4px #111, 6px 6px 4px #222;
  }

  .parallax h1 {
    font-family: "Staatliches", cursive;
    font-size: 3rem;
    text-align: center;
  }

  #footer .copyright {
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 2px 4px #000000, 4px 4px 4px #111, 6px 6px 4px #222;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Estilos aplicados para pantallas con un ancho mínimo de 768px y un ancho máximo de 991px */

  .parallax {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    overflow: hidden;
    color: #fff;
    text-shadow: 2px 2px 4px #000000, 4px 4px 4px #111, 6px 6px 4px #222;
  }

  .parallax h1 {
    font-family: "Staatliches", cursive;
    margin: 100px;
    font-size: 4rem;
    text-align: center;
  }
}

@media only screen and (min-width: 992px) {
  /* Estilos aplicados para pantallas con un ancho mínimo de 992px (pantallas de escritorio) */
}

@media only screen and (min-width: 1200px) {
  /* Estilos aplicados para pantallas con un ancho mínimo de 1200px (pantallas grandes) */
}
